<ul>
  <li><%=link_to 'Home', root_path %></li>
  <li><%#=link_to 'Employees', employees_path %></li>
  <li><%#=link_to 'Branches', branches_path %></li>
  <li><%#=link_to 'Positions', positions_path %></li>
  <li><%#=link_to 'Leave_credits', leave_credits_path %></li>
  <li><%#=link_to 'Employees Leave Credts', employee_leave_credits_path %></li>
  <li><%#=link_to 'Absent', absents_path %></li>
</ul>

